html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#000000,#434343);
}
.login-box {
position:absolute;
top: 50%;
left: 50%;
width: 400px;
padding: 40px;
transform: translate(-50% ,-50%);
background: rgba(211, 187, 187, 0.5);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(202, 194, 194, 0.6);
border-radius: 10px;
}
.texto{

position: absolute;
width: 1440px;
height: 80px;
left: 0px;
top: 23px;

background: #8dbfd3;
box-shadow: 0px 4px 4px rgb(49, 46, 46);
background-color: url(/img/logo.loja.png)
 }


